<div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
  <div class="container-fluid">
    <form #dimensionsForm="ngForm">
      <div class="form-group">
        <h4 class="text-center">Set Material Block Dimensions</h4>
        <div class="form-inline">
          <label>Length</label>
          <input type="number" class="form-control" />
          <label class="ml-3">Width</label>
          <input type="number" class="form-control" />
        </div>
        <div class="text-center mt-2">
          <button class="btn btn-outline-primary " type="submit">
            Set Dimensions
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
