<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="container-fluid">
    <form #instructionsForm="ngForm" (ngSubmit)="onAdd()">
      {{ instructionsForm.form.valid }}
      <div class="form-group">
        <h4 class="text-center">Select an Instruction</h4>
        <br /><br />

        <select
          (blur)="validateInstruct(instruct.value)"
          (change)="validateInstruct(instruct.value)"
          #instruct="ngModel"
          [class.is-invalid]="instructHasError && instruct.touched"
          class="custom-select"
          name="title"
          [(ngModel)]="title"
          (ngModelChange)="searchInstruction(title)"
          required
        >
          <option value="default">Instruction Tool Box</option>
          <option *ngFor="let instruction of instructions">{{
            instruction.title
          }}</option>
        </select>
        <small
          class="text-danger"
          [class.d-none]="!instructHasError || instruct.untouched"
          >Please choose an instruction</small
        >
      </div>
      <div *ngIf="title">
        <div *ngFor="let instruct of instructionDetails">
          <p>Instruction Details: {{ instruct.description }}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="cutLength">Length of Cut</label>
        <div class="input-group">
          <input
            type="number"
            name="cutLength"
            class="form-control"
            name="cutLength"
            [(ngModel)]="cutLength"
            required
          />
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn mt-1"
          type="submit"
          [disabled]="instructionsForm.form.invalid"
        >
          Add to Program
        </button>
      </div>
    </form>
  </div>
</div>
